.NewNote{
    width:500px;
    padding: 10px;
    margin:5px auto;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #36ded6;
}

.input{
    padding: 0 5px;
    margin: 5px;
    height: 40px;
    border: 1px solid purple;
    border-radius: 10px;
}

.button{
    width: 100px;
    margin: auto;
}